.h1Example{
    font-size: 4vw;
}
.h1Examples{
    font-size: 5vw;
}
.descExamples{
    font-size: 30px;
    padding: 10px;
}
.ResponsiveBox{
    display: flex;
    text-align: center;
}
.box1{
    background-color: aqua;
    width: 50%;
}
.box2{
    background-color: red;
    width: 50%;
}
.container{
    margin: auto;
    width: 85%;
}
@media screen and (max-width: 430px) {
    .ResponsiveBox{
        display: inline;
    }
  .box1{
    background-color: blueviolet;
  }
  .box2{
    background-color: chartreuse;
  }
  .descExamples{
    font-size: 15px;
    padding: 10px;
  }
}